@model List<Sitecore.Feauture.RecentBlog.Models.RecentBlogModel>

@if (Model != null)
{
    <div class="row d-flex">
        @foreach (var blog in Model)
        {
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="@blog.BolgLink" class="block-20" style="background-image: url('@blog.BlogImage');">
                    </a>
                    <div class="text p-4 float-right d-block">
                        <div class="d-flex align-items-center pt-2 mb-4">
                          @Html.Raw(@blog.BlogPublishedDate)
                        </div>
                        <h3 class="heading mt-2"><a href="@blog.BolgLink">@blog.BlogTitle</a></h3>
                        <p>@blog.BolgNews</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
}
