@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation;
@model Sitecore.Feauture.Email.Models.ViewModel


@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">@Html.Sitecore().Field(Template.ContactInformation.Field.ContactInformationTitle.ToString())</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3">
                    <p><span>Address:</span> @Html.Sitecore().Field(Template.ContactInformation.Field.CompanyAddress.ToString())</p>
                </div>
                <div class="col-md-3">
                    <p><span>Phone:</span> <a href="tel://@Model.ContactInformation.CompanyNumber">@Html.Sitecore().Field(Template.ContactInformation.Field.CompanyNumber.ToString())</a></p>
                </div>
                <div class="col-md-3">
                    <p><span>Email:</span> <a href="@Model.ContactInformation.CompanyEmail">@Html.Sitecore().Field(Template.ContactInformation.Field.CompanyEmail.ToString())</a></p>
                </div>
                <div class="col-md-3">
                    <p><span>Website</span> <a href="#">@Html.Sitecore().Field(Template.ContactInformation.Field.CompanyWebsite.ToString())</a></p>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="#" class="bg-light p-5 contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>

                <div class="col-md-6 d-flex">
                    <div id="map" class="bg-white"></div>
                </div>
            </div>
        </div>
    </section>
}
@if (Model.ContactInformation != null)
{
    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    @if (!string.IsNullOrEmpty(Model.ContactInformation.ContentTitle))
                    {
                        <h2 class="h3">@Model.ContactInformation.ContentTitle</h2>
                    }

                </div>
                <div class="w-100"></div>
                @if (!string.IsNullOrEmpty(Model.ContactInformation.CompanyAddress))
                {
                    <div class="col-md-3">
                        <p><span>Address:</span> @Model.ContactInformation.CompanyAddress</p>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.ContactInformation.CompanyNumber))
                {
                    <div class="col-md-3">
                        <p><span>Phone:</span> <a href="tel://@Model.ContactInformation.CompanyNumber">@Model.ContactInformation.CompanyNumber</a></p>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.ContactInformation.CompanyEmail))
                {
                    <div class="col-md-3">
                        <p><span>Email:</span> <a href="@Model.ContactInformation.CompanyEmail">@Model.ContactInformation.CompanyEmail</a></p>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.ContactInformation.CompanyWebsite))
                {
                    <div class="col-md-3">
                        <p><span>Website</span> <a href="@Model.ContactInformation.CompanyWebsite">@Model.ContactInformation.CompanyWebsite</a></p>
                    </div>
                }

            </div>
            <div class="row block-9">
                <div class="col-md-6 order-md-last d-flex">
                    @using (Html.BeginForm("Email", "Email", FormMethod.Post, new { enctype = "multipart/form-data", @class = "bg-light p-5 contact-form" }))
                    {
                        <div class="form-group">
                            @*@Html.TextBoxFor(Model => Model.Email.CustomerName, new { @class = "form-control", @placeholder = "SubCategory Name" })*@

                            @Html.TextBoxFor(Model => Model.Email.CustomerName, new { @class = "form-control", @placeholder = "Your Name" })
                            @Html.ValidationMessageFor(Model => Model.Email.CustomerName)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(Model => Model.Email.CustomerEmail, new { @class = "form-control", @placeholder = "Your Email" })
                            @Html.ValidationMessageFor(Model => Model.Email.CustomerEmail)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(Model => Model.Email.EmailSubject, new { @class = "form-control", @placeholder = "Subject" })
                            @Html.ValidationMessageFor(Model => Model.Email.EmailSubject)
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(Model => Model.Email.Message, new { @class = "form-control", @placeholder = "Message" })
                            @Html.ValidationMessageFor(Model => Model.Email.Message)
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                        </div>
                    }
                </div>

                <div class="col-md-6 d-flex">
                    <div id="map" class="bg-white"></div>
                </div>
            </div>
        </div>
    </section>
}

