@model Sitecore.Feauture.Footer.Models.FooterModel

<div class="container">
    <div class="row mb-5">
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                @if (!string.IsNullOrEmpty(Model.RightSideContentTitle))
                {
                <h2 class="ftco-heading-2">@Model.RightSideContentTitle)</h2>
                }
                @if (!string.IsNullOrEmpty(Model.RightSideContentDescription))
                {
                    <p>@Model.RightSideContentDescription</p>
                }
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                    <li class="ftco-animate"><a href="@Model.TwitterLink"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="@Model.FacebookLink"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="@Model.InstagramLink"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
                @if (!string.IsNullOrEmpty(@Model.usefulLink.UsefulLinkTitle))
                {
                    <h2 class="ftco-heading-2">@Model.usefulLink.UsefulLinkTitle</h2>
                }
               @if (Model.usefulLink.UsefulMenuList != null)
               {
                   <ul class="list-unstyled">
                       @foreach (var useful in Model.usefulLink.UsefulMenuList)
                       {
                           <li><a href="@useful.UsefulMenuLink" class="py-2 d-block">
                               @useful.UsefulMenuName
                           </a></li>
                       }
                   </ul>
               }
           
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                @if (!string.IsNullOrEmpty(@Model.usefulLink.UsefulLinkTitle))
                {
                    <h2 class="ftco-heading-2">@Model.Privacy.PrivacyTitle</h2>
                }
                @if (Model.Privacy.PrivacyMenuList != null)
                {
                    <ul class="list-unstyled">
                        @foreach (var privacy in Model.Privacy.PrivacyMenuList)
                        {
                            <li>
                                <a href="@privacy.PrivacyMenuLink" class="py-2 d-block">
                                    @privacy.PrivacyMenuName
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">@Model.ContactInformation.Title</h2>
                <div class="block-23 mb-3">
                    <ul>
                        <li><span class="icon icon-map-marker"></span><span class="text">@Model.ContactInformation.Address</span></li>
                        <li><a href="#"><span class="icon icon-phone"></span><span class="text">@Model.ContactInformation.PhoneNumber</span></a></li>
                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@Model.ContactInformation.EmailAddress</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            
            @if (Model.Copyright != null)
            {
                @Html.Raw(Model.Copyright)
            }
        </div>
    </div>
</div>